.article-slider {
	&:focus{
		outline:none;
	} 
}

.card {
	width:100%;
	&__img-container {
		border-radius:$border-radius;
		background:palette(grey, x-light);
		position:relative;
		padding-bottom:66%;
	}	

	&__img {
		position:absolute;
		width:100%;
		height:auto;
		top:0;
		left:0;
	}
}