.front-page {
	&__hero {
		@media (min-width:$breakpoint-sm) {
			height:500px;
			display:flex;
			align-items:center;
		}
	}

	&__categories {
		@media (max-width:$breakpoint-sm) {
			margin-top:$space-6;
		}
	}

	&__intro {
		@media (max-width:$breakpoint-sm) {
			margin-top:$space-4;
		}
	}
}